# Numpy Quiz

## Q1. 다음과 같은 리스트를 이용하여 넘파이 배열을 만들고 전체 갯수, 차원, 데이터형, 구조를 출력하여라
```
['강아지', '원숭이', '꽃', '45', '100']

array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
차원 ? 1
전체 갯수 ? 5
데이터형 ? <U3
전체 구조  ? (5,)
```

In [14]:
import numpy as np
d = np.array(['강아지', '원숭이', '꽃', '45', '100'])
d, d.ndim,d.size, d.dtype, d.shape

(array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3'),
 1,
 5,
 dtype('<U3'),
 (5,))

In [220]:
import numpy as np
data = ['강아지', '원숭이', '꽃', '45', '100']
d = np.array(data)
print(d)
print("차원 :" ,d.ndim )
print("갯수 :" ,d.size)
print("데이터형 : ",d.dtype)
print("구조 :",d.shape)

['강아지' '원숭이' '꽃' '45' '100']
차원 : 1
갯수 : 5
데이터형 :  <U3
구조 : (5,)

In [232]:
data = [["kk",'1234567890'],["ll","hh"]]
r = np.array(data)
r.ndim,r.size,r.dtype,r.shape

(2, 4, dtype('<U10'), (2, 2))

## Q2. np.ones()를 이용하여2행 3열의 넘파이 배열을 생성하여라

array([[1., 1., 1.],
       [1., 1., 1.]])

In [20]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [236]:
np.ones((2,3))
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

## Q3. np.arange(), np.reshape()를 이용하여 다음과 같은 넘파이 배열을 생성하여라
```
array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])
```

In [274]:
np.arange(51,81,1).reshape(6,5)

array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])

In [298]:
np.arange(51,81).reshape(6,5)

array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])

## Q4. Q3의 넘파이 배열의 자료형을 float로 변경하고 데이터형을 출력하여라
```
array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])
```
-------------------------------------  

dtype('float64')

In [38]:
data = np.arange(51,81, dtype=np.float64).reshape(6,5)
data

array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])

In [292]:
np.arange(51,81,dtype=np.float64).reshape(6,5)

array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])

## Q5. 다음과 같이 넘파이 배열을 생성한 후 1차원 배열로 변경하고 슬라이싱하여라 

```
array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])
       
array([ 1,  4,  5,  6, 56, 23, 45, 67,  8,  4,  6, 10])


array([23, 45, 67,  8,  4,  6])
```

In [57]:
ll = np.array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])

print(ll.reshape(-1))
print(ll.reshape(-1)[5:-1])

[ 1  4  5  6 56 23 45 67  8  4  6 10]
[23 45 67  8  4  6]

In [314]:
rr = np.array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])

rr.reshape(-1)[5:-1]

array([23, 45, 67,  8,  4,  6])

## Q6. 다음과 같은 넘파이 배열을 생성한 후 아이템을 교체하여라 

```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

```

In [77]:
[10 if i==1  else i if i<8 else 0  for i in np.arange(1,11)]

[10, 2, 3, 4, 5, 6, 7, 0, 0, 0]

In [324]:
[10 if i==1 else i if i<8 else 0 for i in np.arange(1,11)]

[10, 2, 3, 4, 5, 6, 7, 0, 0, 0]

In [330]:
arr = np.arange(1,11)
arr[0] = 10
arr[7:] = 0
arr

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

## Q7. 2자리의 숫자로 구성된 넘파이 배열(5행5열)을 만들어라. 숫자는 난수를 이용한다. 

```
[[63 85 71 67 15]
 [31 81 69 17 97]
 [25 41 33 23 39]
 [39 43 59 33 43]
 [23 51 65 91 23]]

```

In [97]:
np.random.randint(10,100,(5,5))

array([[54, 75, 33, 26, 88],
       [58, 79, 73, 71, 22],
       [22, 91, 72, 50, 73],
       [73, 39, 40, 32, 48],
       [28, 93, 13, 95, 10]])

In [362]:
np.random.randint(10,100,(5,5))

array([[66, 94, 53, 11, 13],
       [36, 92, 33, 61, 37],
       [64, 58, 50, 81, 89],
       [98, 18, 75, 13, 43],
       [50, 89, 35, 36, 54]])

## Q8. 1~100 사이의 정수중 7개의 숫자를 무작위로 추출한 후 가장 큰값과 가장 작은 값을 출력하여라.
[91, 65, 14, 66, 65, 98, 34]

max = 98
min = 14

In [105]:
r= np.random.randint(1,101,7)
print(r)
print(np.max(r))
print(np.min(r))

[ 88   9 100  57  87  54 100]
100
9

In [385]:
np.random.randint?

Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the `~numpy.random.Generator.integers`
    method of a `~numpy.random.Generator` instance instead;
    please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is int.

    .. versionadded:: 1.11.0

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
random.Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      builtin_function_or_method

In [379]:
r=np.random.randint(1,101,7)
r

array([23, 84, 80, 99, 40, 32, 26])

In [381]:
print(np.max(r))

99

In [383]:
print(np.min(r))

23

## Q9. 다음과 같은 3개의 넘파이 배열을 생성한 후 다음과 같이 합쳐라
```
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]


[[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


[[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]
```
 ----------
  Result1 
```
 [[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
  [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
  [ 7,  8,  9, 17, 18, 19, 27, 28, 29]] 
```

  ----------
  Result2
```
 [[ 1,  2,  3],
  [ 4,  5,  6],
  [ 7,  8,  9],
  [11, 12, 13],
  [14, 15, 16],
  [17, 18, 19],
  [21, 22, 23],
  [24, 25, 26],
  [27, 28, 29]]
```

In [117]:
a = np.array([[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]])


b = np.array([[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]])


c = np.array([[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]])

print(np.hstack((a,b,c)))
print(np.vstack((a,b,c)))

[[ 1  2  3 11 12 13 21 22 23]
 [ 4  5  6 14 15 16 24 25 26]
 [ 7  8  9 17 18 19 27 28 29]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 12 13]
 [14 15 16]
 [17 18 19]
 [21 22 23]
 [24 25 26]
 [27 28 29]]

In [438]:
a = [[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]


b = [[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


c = [[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]

print(np.hstack([a,b,c]))
print(np.hstack((a,b,c)))
print(np.vstack((a,b,c)))
print(np.concatenate([a,b,c] ,axis=0))

[[ 1  2  3 11 12 13 21 22 23]
 [ 4  5  6 14 15 16 24 25 26]
 [ 7  8  9 17 18 19 27 28 29]]
[[ 1  2  3 11 12 13 21 22 23]
 [ 4  5  6 14 15 16 24 25 26]
 [ 7  8  9 17 18 19 27 28 29]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 12 13]
 [14 15 16]
 [17 18 19]
 [21 22 23]
 [24 25 26]
 [27 28 29]]
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [11 12 13]
 [14 15 16]
 [17 18 19]
 [21 22 23]
 [24 25 26]
 [27 28 29]]

## Q10. 아래와 같이 넘파이 배열을 생성한 후 50보다 큰 숫자만 필터링하여라. 

```
arr = np.random.choice(100, 40, replace=False)

Before => 

[40, 63,  8,  2, 35, 84, 72, 48, 78, 86, 87, 58,  0, 49, 14, 55, 11,
       73, 39, 26, 75, 27, 99, 46, 25, 22, 34, 83, 24, 47, 31, 57, 62, 19,
       36, 15, 17, 10, 98, 90]

After =>

[63, 84, 72, 78, 86, 87, 58, 55, 73, 75, 99, 83, 57, 62, 98, 90]

```

In [444]:
arr = np.random.choice(100, 40, replace=False)
arr

array([22, 26, 93,  5, 82, 14, 33, 27,  8, 70, 88, 72, 79, 80, 17, 39, 73,
       25, 35, 45, 81, 67, 54, 28, 58, 77, 59,  7, 98, 57, 41, 20, 91, 29,
        2, 95, 51,  9, 83, 13])

In [452]:
[i  for i in arr if i > 50 ]

[93,
 82,
 70,
 88,
 72,
 79,
 80,
 73,
 81,
 67,
 54,
 58,
 77,
 59,
 98,
 57,
 91,
 95,
 51,
 83]

In [454]:
arr, arr[np.where(arr>50)] ,arr[arr>50]

(array([22, 26, 93,  5, 82, 14, 33, 27,  8, 70, 88, 72, 79, 80, 17, 39, 73,
        25, 35, 45, 81, 67, 54, 28, 58, 77, 59,  7, 98, 57, 41, 20, 91, 29,
         2, 95, 51,  9, 83, 13]),
 array([93, 82, 70, 88, 72, 79, 80, 73, 81, 67, 54, 58, 77, 59, 98, 57, 91,
        95, 51, 83]),
 array([93, 82, 70, 88, 72, 79, 80, 73, 81, 67, 54, 58, 77, 59, 98, 57, 91,
        95, 51, 83]))

In [462]:
np.where(arr>50)

(array([ 2,  4,  9, 10, 11, 12, 13, 16, 20, 21, 22, 24, 25, 26, 28, 29, 32,
        35, 36, 38], dtype=int64),)

In [458]:
arr>50

array([False, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True, False, False,  True, False,
       False, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True, False, False,  True, False, False,  True,
        True, False,  True, False])

## Quiz11. 종합
```
kor = np.array( [60,55,70,30,20,90])
1. 국어점수가 가장큰값을 구하여라
2. 국어점수가 80점이상인 값을 구하여라
3. 국어 점수가 50점이상 80점 이하인 값을 구하여라
4. 국어점수의 평균을 구하여라
5. 국어점수의 총합을 구하여라.
6. 국어점수가 40점이하인 데이터를 삭제하여라
7. 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
8. 국어점수 top 3를 구하여라
9. 국어점수가 70점이상이면 '합격' , 아니면 '불합격'으로 출력하라
```

In [554]:
kor = np.array( [60,55,70,30,20,90])
kor

array([60, 55, 70, 30, 20, 90])

In [466]:
np.max(kor)

90

In [470]:
kor[kor> 80]

array([90])

In [478]:
kor[(kor >= 50) & (kor <= 80)]

array([60, 55, 70])

In [489]:
print((60+55+70+30+20+90)/6)
np.mean(kor), np.sum(kor)

54.166666666666664

(54.166666666666664, 325)

In [503]:
r=np.delete(kor,kor <= 40)
print(r)
print(kor)

[60 55 70 90]
[60 55 70 30 20 90]

In [531]:
np.where(kor < 50, kor, kor*1.1)     # 1 <-> n
[i*1.1 if i>=50 else i for i in kor] # n

[66.0, 60.50000000000001, 77.0, 30, 20, 99.00000000000001]

In [564]:
r=np.sort(kor)[::-1][:3]
r

array([90, 70, 60])

In [566]:
["합격" if i==True else "불합격" for i in kor>=70]

['불합격', '불합격', '합격', '불합격', '불합격', '합격']

In [133]:
kor = np.array( [60,55,70,30,20,90])

In [135]:
np.max(kor)

90

In [147]:
kor[kor>80]

array([90])

In [173]:
kor[(50 <= kor) & (kor <= 80)]

array([60, 55, 70])

In [175]:
np.average(kor)

54.166666666666664

In [177]:
np.sum(kor)

325

In [180]:
np.delete(kor,kor<40)

array([60, 55, 70, 90])

In [184]:
[i*1.1 if i > 50 else i for i in kor]

[66.0, 60.50000000000001, 77.0, 30, 20, 99.00000000000001]

In [190]:
np.sort(kor)[::-1][:3]

array([90, 70, 60])

In [196]:
r = [ "합격" if i >= 70 else "불합격" for i in kor] 
print(r)

['불합격', '불합격', '합격', '불합격', '불합격', '합격']

In [576]:
kor>=70
np.where(kor>=70, "합격", "불합격")

Call signature:  np.where(*args, **kwargs)
Type:            _ArrayFunctionDispatcher
String form:     <built-in function where>
Docstring:
where(condition, [x, y], /)

Return elements chosen from `x` or `y` depending on `condition`.

.. note::
    When only `condition` is provided, this function is a shorthand for
    ``np.asarray(condition).nonzero()``. Using `nonzero` directly should be
    preferred, as it behaves correctly for subclasses. The rest of this
    documentation covers only the case where all three arguments are
    provided.

Parameters
----------
condition : array_like, bool
    Where True, yield `x`, otherwise yield `y`.
x, y : array_like
    Values from which to choose. `x`, `y` and `condition` need to be
    broadcastable to some shape.

Returns
-------
out : ndarray
    An array with elements from `x` where `condition` is True, and elements
    from `y` elsewhere.

See Also
--------
choose
nonzero : The function that is called when x and y are omitted

Notes
-----
If all the arrays are 1-D, `where` is equivalent to::

    [xv if c else yv
     for c, xv, yv in zip(condition, x, y)]

Examples
--------
>>> a = np.arange(10)
>>> a
array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
>>> np.where(a < 5, a, 10*a)
array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

This can be used on multidimensional arrays too:

>>> np.where([[True, False], [True, True]],
...          [[1, 2], [3, 4]],
...          [[9, 8], [7, 6]])
array([[1, 8],
       [3, 4]])

The shapes of x, y, and the condition are broadcast together:

>>> x, y = np.ogrid[:3, :4]
>>> np.where(x < y, x, 10 + y)  # both x and 10+y are broadcast
array([[10,  0,  0,  0],
       [10, 11,  1,  1],
       [10, 11, 12,  2]])

>>> a = np.array([[0, 1, 2],
...               [0, 2, 4],
...               [0, 3, 6]])
>>> np.where(a < 4, a, -1)  # -1 is broadcast
array([[ 0,  1,  2],
       [ 0,  2, -1],
       [ 0,  3, -1]])
Class docstring:
Class to wrap functions with checks for __array_function__ overrides.

All arguments are required, and can only be passed by position.

Parameters
----------
dispatcher : function or None
    The dispatcher function that returns a single sequence-like object
    of all arguments relevant.  It must have the same signature (except
    the default values) as the actual implementation.
    If ``None``, this is a ``like=`` dispatcher and the
    ``_ArrayFunctionDispatcher`` must be called with ``like`` as the
    first (additional and positional) argument.
implementation : function
    Function that implements the operation on NumPy arrays without
    overrides.  Arguments passed calling the ``_ArrayFunctionDispatcher``
    will be forwarded to this (and the ``dispatcher``) as if using
    ``*args, **kwargs``.

Attributes
----------
_implementation : function
    The original implementation passed in.

# Numpy Quiz Answer

## Q1. 다음과 같은 리스트를 이용하여 넘파이 배열을 만들고 전체 갯수, 차원, 데이터형, 구조를 출력하여라
```
['강아지', '원숭이', '꽃', '45', '100']
array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U3')
차원 ? 1
전체 갯수 ? 5
데이터형 ? <U3
전체 구조  ? (5,)
```

In [1]:
import numpy as np

In [4]:
a = np.array(['강아지', '원숭이', '꽃', 45, 100])
a, a.ndim, a.size, type(a), a.dtype, a.shape

(array(['강아지', '원숭이', '꽃', '45', '100'], dtype='<U11'),
 1,
 5,
 numpy.ndarray,
 dtype('<U11'),
 (5,))

## Q2. np.ones()를 이용하여 2행 3열의 넘파이 배열을 생성하여라
```
array([[1., 1., 1.],
       [1., 1., 1.]])
```

In [6]:
np.ones( (2, 3) )

array([[1., 1., 1.],
       [1., 1., 1.]])

## Q3. np.arange(), np.reshape()를 이용하여 다음과 같은 넘파이 배열을 생성하여라
```
array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])
```

In [8]:
arr = np.arange(51,81).reshape(6,5)
# np.arange(51,81).reshape(-1,5)
arr

array([[51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65],
       [66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75],
       [76, 77, 78, 79, 80]])

## Q4. Q3의 넘파이 배열의 자료형을 float로 변경하고 데이터형을 출력하여라
```
array([[51., 52., 53., 54., 55.],
       [56., 57., 58., 59., 60.],
       [61., 62., 63., 64., 65.],
       [66., 67., 68., 69., 70.],
       [71., 72., 73., 74., 75.],
       [76., 77., 78., 79., 80.]])
```
-------------------------------------  

dtype('float64')

In [9]:
arr = arr.astype(float)
arr.dtype

dtype('float64')

## Q5. 다음과 같이 넘파이 배열을 생성한 후 1차원 배열로 변경하고 슬라이싱하여라 

```
array([[ 1,  4,  5,  6],
       [56, 23, 45, 67],
       [ 8,  4,  6, 10]])
       
array([ 1,  4,  5,  6, 56, 23, 45, 67,  8,  4,  6, 10])


array([23, 45, 67,  8,  4,  6])
```

In [10]:
arr2d = np.array([[ 1,  4,  5,  6], [56, 23, 45, 67], [ 8,  4,  6, 10]])
print(arr2d.flatten()[5:11])
print(arr2d.flatten()[5:-1])

[23 45 67  8  4  6]
[23 45 67  8  4  6]

## Q6. 다음과 같은 넘파이 배열을 생성한 후 아이템을 교체하여라 

```
array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

```

In [11]:
arr = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])
arr[0] = 10
arr[7:] = 0
arr

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

In [326]:
arr = np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])
arr[0] = 10
arr[7:] = 0
arr

array([10,  2,  3,  4,  5,  6,  7,  0,  0,  0])

## Q7. 2자리의 숫자로 구성된 넘파이 배열(5행5열)을 만들어라. 숫자는 난수를 이용한다. 

```
[[63 85 71 67 15]
 [31 81 69 17 97]
 [25 41 33 23 39]
 [39 43 59 33 43]
 [23 51 65 91 23]]

```

In [12]:
np.random.randint(10,99,25).reshape(5,5)
np.random.randint(10,99,(5,5))

array([[90, 30, 97, 56, 85],
       [14, 50, 44, 80, 53],
       [63, 61, 53, 76, 84],
       [44, 90, 12, 20, 21],
       [60, 58, 98, 57, 42]])

## Q8. 1~100 사이의 정수중 7개의 숫자를 무작위로 추출한 후 가장 큰값과 가장 작은 값을 출력하여라.
[91, 65, 14, 66, 65, 98, 34]

max = 98
min = 14

In [11]:
num = np.random.randint(1,100,7)
num, np.max(num), np.min(num)

(array([71, 90,  9, 49, 55, 57, 34]), 90, 9)

## Q9. 다음과 같은 3개의 넘파이 배열을 생성한 후 다음과 같이 합쳐라
```
[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]


[[11, 12, 13],
 [14, 15, 16],
 [17, 18, 19]]


[[21, 22, 23],
 [24, 25, 26],
 [27, 28, 29]]

 ----------
  Result1 

 [[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
  [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
  [ 7,  8,  9, 17, 18, 19, 27, 28, 29]] 


  ----------
  Result2

 [[ 1,  2,  3],
  [ 4,  5,  6],
  [ 7,  8,  9],
  [11, 12, 13],
  [14, 15, 16],
  [17, 18, 19],
  [21, 22, 23],
  [24, 25, 26],
  [27, 28, 29]]
```

In [13]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[11, 12, 13], [14, 15, 16], [17, 18, 19]])
c = np.array([[21, 22, 23], [24, 25, 26], [27, 28, 29]])

# result1 
result2 = np.hstack((a, b, c))

# result2 
result1 = np.vstack((a, b, c))

result1, result2

(array([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [11, 12, 13],
        [14, 15, 16],
        [17, 18, 19],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]]),
 array([[ 1,  2,  3, 11, 12, 13, 21, 22, 23],
        [ 4,  5,  6, 14, 15, 16, 24, 25, 26],
        [ 7,  8,  9, 17, 18, 19, 27, 28, 29]]))

## Q10. 아래와 같이 넘파이 배열을 생성한 후 50보다 큰 숫자만 필터링하여라. 

```
arr = np.random.choice(100, 40, replace=False)

Before => 

[40, 63,  8,  2, 35, 84, 72, 48, 78, 86, 87, 58,  0, 49, 14, 55, 11,
       73, 39, 26, 75, 27, 99, 46, 25, 22, 34, 83, 24, 47, 31, 57, 62, 19,
       36, 15, 17, 10, 98, 90]


After =>

[63, 84, 72, 78, 86, 87, 58, 55, 73, 75, 99, 83, 57, 62, 98, 90]


```

In [14]:
# 중복없이, 100까지 숫자중 40개를 추출가능, randint는 중복생김
n = np.random.choice(100, 40, replace=False)
# 50보다 큰 숫자만 필터링
n, n[np.where(n>50)] , n[n>50]

(array([51,  4, 39, 64, 16, 85, 86, 88, 56, 76, 70, 15, 18,  5, 40, 25, 23,
        62, 57, 11, 28, 47, 52, 49, 54, 83, 35, 96, 46, 53, 81, 82, 34, 97,
        59, 84, 67, 27,  6, 42]),
 array([51, 64, 85, 86, 88, 56, 76, 70, 62, 57, 52, 54, 83, 96, 53, 81, 82,
        97, 59, 84, 67]),
 array([51, 64, 85, 86, 88, 56, 76, 70, 62, 57, 52, 54, 83, 96, 53, 81, 82,
        97, 59, 84, 67]))

## Quiz11. 종합
```
kor = np.array( [60,55,70,30,20,90])
1. 국어점수가 가장큰값을 구하여라
2. 국어점수가 80점이상인 값을 구하여라
3. 국어 점수가 50점이상 80점 이하인 값을 구하여라
4. 국어점수의 평균을 구하여라
5. 국어점수의 총합을 구하여라.
6. 국어점수가 40점이하인 데이터를 삭제하여라
7. 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
8. 국어점수 top 3를 구하여라
9. 국어점수가 70점이상이면 '합격' , 아니면 '불합격'으로 출력하라
```

In [15]:
kor = np.array( [60,55,70,30,20,90])

In [16]:
# 국어 점수가 가장 큰값
max(kor)

90

In [17]:
# 국어점수가 80점이상인 값을 구하여라
kor[(kor>=80)]

array([90])

In [141]:
#  국어 점수가 50점이상 80점 이하인 값을 구하여라
kor[(kor>= 50) & (kor <=80)]

array([60, 55, 70])

In [19]:
# 국어점수의 평균을 구하여라
np.average(kor), round(kor.mean(),3)

(54.166666666666664, 54.167)

In [20]:
# 국어점수의 총합을 구하여라.
np.sum(kor)

325

In [22]:
# 국어점수가 40점이하인 데이터를 삭제하여라
import copy
kor1 = kor.copy()
num = kor[kor<=40]
kor1, num, np.delete(kor1, np.where(kor<=40))

(array([60, 55, 70, 30, 20, 90]), array([30, 20]), array([60, 55, 70, 90]))

In [23]:
# 국어점수가 50점이상인 데이터에 가산점 10%를 부여하여라
np.where(kor>=50, kor*1.1, kor )

array([66. , 60.5, 77. , 30. , 20. , 99. ])

In [24]:
# 국어점수 top 3를 구하여라
np.sort(kor)

array([20, 30, 55, 60, 70, 90])

In [26]:
np.sort(kor)[::-1]

array([90, 70, 60, 55, 30, 20])

In [27]:
np.argsort(kor)[::-1][:3]

array([5, 2, 0], dtype=int64)

In [22]:
# 국어점수 top 3를 구하여라
np.sort(kor)[::-1][:3], kor[np.argsort(kor)[::-1][:3]] # 인덱스값으로 실제 값 출력

(array([90, 70, 60]), array([90, 70, 60]))

In [28]:
# 국어점수가 70점이상이면 '합격' , 아니면 '불합격으로' 아래와 같이 출력하시요
kor, np.where(kor>=70, "합격", "불합격")

(array([60, 55, 70, 30, 20, 90]),
 array(['불합격', '불합격', '합격', '불합격', '불합격', '합격'], dtype='<U3'))