In [2]:
#161
for i in range(0,100) : 
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [251]:
#162



#for i in range(2002,2051,4):
#    print(i)

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [255]:
#163
for i in range(1,31):
    if i %3 ==0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

In [257]:
#164
#1
l = list(range(0,100))
l.sort(reverse=True)
for i in l :
    print(i)

#2
for i in range(0,100) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [259]:
#165
for i in range(0,10):
    print(f"{i/10}")

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [42]:
#166
for i in range(1,10) :
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [46]:
#167
for i in range(1,10,2):
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [50]:
#168
l=0
for i in range(1,11) :
    l +=i
print(l)

55

In [52]:
#169
l=0
for i in range(1,11) :
    l +=i if i%2==1 else 0
print(l)

25

In [54]:
#170
l = 1
for i in range(1,11) :
    l = l * i
print(l)

3628800

In [58]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
    print(price_list[i])

32100
32150
32000
32500

In [62]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
    print(f'{i} {price_list[i]}')

0 32100
1 32150
2 32000
3 32500

In [68]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
    print(f'{3-i} {price_list[i]}')

3 32100
2 32150
1 32000
0 32500

In [66]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4) :
    print(f'{100+(i-1)*10} {price_list[i]}')

100 32150
110 32000
120 32500

In [231]:
#175
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [235]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(f'{my_list[i]} {my_list[i+1]} {my_list[i+2]}')

가 나 다
나 다 라
다 라 마

In [243]:
#177
my_list = ["가", "나", "다", "라"]
for i in [0,1,2]:
    l = 3 - i
    print(my_list[l] , my_list[l-1])
    #print(f'{my_list[l]} {my_list[l-1]}')

라 다
다 나
나 가

In [103]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [263]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in [0,1,2,3]:
    #print((my_list[i]+my_list[i+1]+my_list[i+2])/3)
    print(my_list[i]+my_list[i+1]+my_list[i+2]/3)

433.33333333333337
866.6666666666667
1533.3333333333333
2233.3333333333335

In [119]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

a=zip(low_prices,high_prices)

volatility = [h-l for l, h in a]
    
print(volatility)

[50, 100, 30, 80, 0]

In [131]:
#181
apart= [["101호","102호"],["201호","202호"],["301호","302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [133]:
## 182
stock = [[100,200,300],[80,210,330]]
stock

[[100, 200, 300], [80, 210, 330]]

In [135]:
#183
stock = {"시가":[100,200,300],"종가":[80,210,330]}

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [141]:
#184
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [145]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart:
    for i2 in i1:
        print(i2,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [149]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart[::-1]:
    for i2 in i1:
        print(i2,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [151]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart[::-1]:
    for i2 in i1[::-1]:
        print(i2,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [155]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart:
    for i2 in i1:
        print(i2,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [157]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart:
    for i2 in i1:
        print(i2,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [159]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i1 in apart:
    for i2 in i1:
        print(i2,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [271]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for l in data:
    for c in l:
        print(c*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [165]:
#192
for l in data:
    for c in l:
        print(c*1.00014)
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [175]:
#193
result = []
for l in data:
    for c in l:
        result.append(c*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [291]:
#194
result = []
for l in data:
   result2 = []
   for r in l  :
       result2.append(r*1.00014)
   result.append(result2)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [180]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:] :
    print(i[3])

100
190
310

In [182]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a,b,c,d in ohlc[1:] :
    print(d) if d >150 else ""

190
310

In [186]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for a,b,c,d in ohlc[1:] :
    print(d) if d >= a else ""

100
310

In [190]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
print([b-c for a,b,c,d in ohlc[1:]])

[40, 30, 10]

In [198]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in [b-c for a,b,c,d in ohlc[1:] if d > a]:
    print(i)

10

In [200]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

#1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

l = 0
for a,b,c,d in ohlc[1:] :
    l += (d-a)

print(l)

0