In [3]:
#101
type(True)

bool

In [5]:
#102
print(3==5)

False

In [7]:
#103
print(3 < 5)

True

In [9]:
#104
x = 4
print(1 < x < 5)

True

In [13]:
#105
print ((3 == 3) and (4 != 3))

True

In [15]:
#106
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3774565717.py, line 1)

In [17]:
#107
if 4 < 3:
    print("Hello World")

In [19]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [21]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [201]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [213]:
#111
a = input("입력 플리즈 : ")
print(a * 2)

입력 플리즈 :  안녕하세요

안녕하세요안녕하세요

In [219]:
#112
a = input("입력 : ")
b=int(a) + 10
print(b)
#print()

입력 :  30

40

In [239]:
#113
a = input("입력 : ")
if int(a)%2 == 0 :
    print("짝수")
else :
    print("홀수")

out_str = "짝수" if int(a)%2==0 else "홀수"
print(out_str)

입력 :  30

짝수
짝수

In [249]:
#114
a = input("입력값: ")
b = int(a) + 20

if b > 255 :
    print(255)
else :
    print(b)

입력값:  100

120

In [259]:
#115
a = input("입력값: ")
b = int(a) - 20

if b < 0 :
    print(0)
elif b > 255: 
    print(255)
else : 
    print(b)

입력값:  277

255

In [293]:
#116
'''
if int(time.split(":")[1].strip()) == 0:
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")
'''
'''
if  min == "00" :
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

'''
time = input("현재시간: ")
print(time)

min = time[3:]
print(min)

con = (min == "00")
print(con)

if con :
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

#print(time)

현재시간:  11:00

11:00
00
True
정각입니다.

In [305]:
#117

"""
out_str = "정답입니다." if a in fruit else "오답입니다."
print(out_str)"""

fruit = ["사과","포도","홍시"]

a = input("입력값 : ")

con = a in fruit

if con :
    print("정답입니다.")
else :
    print("오답입니다.")

입력값 :  망고

오답입니다.

In [315]:
#118
"""upper_list = [a.upper() for a in warn_investment_list]
a = input("입력값: ")
print("투자 경고 종목입니다.") if a.upper() in upper_list else print("투자 경고 종목이 아닙니다.")
"""
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
#print(warn_investment_list) 

a = input("종목명 : ")

con = a in warn_investment_list

if con : 
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명 :  Kakao

투자 경고 종목입니다.

In [343]:
"""
out_str = "정답입니다." if fruit.get(a) else "오답입니다."
print(out_str)
"""
#119
fruit = {  "봄" : "딸기", 
           "여름" : "토마토", 
           "가을" : "사과"
        }

a = input("입력값: ")

con = a in fruit.keys()

if con :
    print("정답입니다")
else :
    print("오답입니다")

입력값:  겨울

오답입니다

In [345]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}


a = input("입력값: ")
out_str = "정답입니다." if a in fruit.values() else "오답입니다."
print(out_str)

입력값:  봄

오답입니다.

In [369]:

"""
out_str = a.upper() if a.islower() else a.lower()
print(out_str)
"""
#121
a = input("입력값: ")
#print(ord(a))

con = 65<= ord(a) <= 90

if con : 
    print(a.lower())
else : 
    print(a.upper)

입력값:  A

a

In [399]:
#122

a = int(input("입력값: "))

if 0 <= a <=20:
    grade="E"
elif a <= 40:
    grade="D"
elif a <= 60:
    grade="C"
elif a <= 80:
    grade="B"
elif a <= 100:
    grade="A"

print(f'grade is {grade}')

입력값:  55

grade is C

In [393]:
a= 20
a in list( range(0,21))

True

In [714]:
#123
r = { 
      "달러":1167, 
      "엔":1.096,
      "유로":1268,
      "위안":171
}

a = input("입력:")
b = a.split(" ")

l = int(b[0])
d = b[1]
print(l , type(l))
print(d, type(d))
print(r.get(d))


print(l * r.get(d),"원")


#print(f'{l * r.get(d)} 원')

#print(str(int(a[0])*r[a[1]])+"원")

입력: 100 달러

100 <class 'int'>
달러 <class 'str'>
1167
116700 원

In [149]:
#124
a = int(input("input number1: "))
b = int(input("input number2: "))
c = int(input("input number3: "))
l = a-b
r = a-c
k = b-c
if l > 0 and r > 0:
    print(a)
elif k >0 :
    print(b)
else :
    print(c)

input number1:  7
input number2:  3
input number3:  11

11

In [683]:
print(f'{float(5.54555):.1f} kk')

5.5 kk

In [675]:
#125
mapp = {"011":"SKT","016":"KT","019":"LGU","010":"알수없음"}
num = input("휴대전화 번호 입력: ")
first = mapp[num.split("-")[0]]
print(f"당신은 {first} 사용자입니다.")

휴대전화 번호 입력:  010

당신은 알수없음 사용자입니다.

In [167]:
#126
l = ["강북구","강북구","강북구","도봉구","도봉구","도봉구","노원구","노원구","노원구","노원구"]
num = input()
if num.startswith("01") :
    print(l[int(num[2])])
else :
    print("다시 입력 해 주세요")

 01234

강북구

In [177]:
#127
num = input("주민등록번호 : ")
a = num.split("-")[1][0]
if a == "1" or a == "3":
    print("남자")
else : 
    print("여자")

주민등록번호 :  840111-2034322

여자

In [187]:
#128
num = input("주민등록번호 : ")
a = int(num.split("-")[1][1:3])
print("서울이 아닙니다." if a > 8 else "서울")

주민등록번호 :  840111-1075721

서울

In [413]:
#129
num = input("주민등록번호 : ")
first= int(num[0])*2+int(num[1])*3+int(num[2])*4+int(num[3])*5+int(num[4])*6+int(num[5])*7
last= int(num[7])*8+int(num[8])*9+int(num[9])*2+int(num[10])*3+int(num[11])*4+int(num[12])*5
if num[-1] == str(11-((first+last)%11))[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호 :  840111-1075777

유효하지 않은 주민등록번호입니다.

In [419]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

{'opening_price': '76863000', 'closing_price': '75635000', 'min_price': '75000000', 'max_price': '77007000', 'units_traded': '2398.90090589', 'acc_trade_value': '182518811419.82543', 'prev_closing_price': '76877000', 'units_traded_24H': '3064.78410643', 'acc_trade_value_24H': '233837566306.24479', 'fluctate_24H': '-1300000', 'fluctate_rate_24H': '-1.69', 'date': '1725621977790'}
상승장

In [423]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
##리스트 순서대로 출력

사과
귤
수박

In [427]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
##리스트 갯수 만큼 ##### 출력

#####
#####
#####

In [434]:
#133
for 변수 in ["A", "B", "C"]:
  print(변수)
###
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [440]:
#134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)


###
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [442]:
#135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)


###
변수 = "A"
b = 변수.lower()
print("출력:", b)
변수 = "B"
b = 변수.lower()
print("출력:", b)
변수 = "C"
b = 변수.lower()
print("출력:", b)

변환: a
변환: b
변환: c
출력: a
출력: b
출력: c

In [448]:
#136
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)


###

for 변수 in [10,20,30] :
    print(변수)

10
20
30
10
20
30

In [463]:
#137
print(10)
print(20)
print(30)
###
for a in [10,20,30]:
    print(a)

10
20
30
10
20
30

In [465]:
#138
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

###
for a in [10,20,30]:
    print(a)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [471]:
#139
print("++++")
print(10)
print(20)
print(30)

###
print("++++")
for a in [10, 20, 30]:
  print(a)

++++
10
20
30
++++
10
20
30

In [483]:
#140
print("-------")
print("-------")
print("-------")
print("-------")

###
for a in range(4):
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [497]:
#141
리스트 = [100, 200, 300]


###
리스트 = [100, 200, 300]
for a in 리스트:
  print(a + 10)

110
210
310

In [503]:
#142
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
  print("오늘의 메뉴:", a)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [505]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
  print( len(a))

6
4
4

In [507]:
#144
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
  print(f'{a}  {len(a)}')

dog  3
cat  3
parrot  6

In [509]:
#145
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
  print(a[0])

d
c
p

In [513]:
#146
리스트 = [1, 2, 3]
for a in 리스트:
  print(f"3 x {a}")

3 x 1
3 x 2
3 x 3

In [515]:
#147
리스트 = [1, 2, 3]
for a in 리스트:
  print(f"3 x {a} = {3*a}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [521]:
#148
리스트 = ["가", "나", "다", "라"]
for a in 리스트[1:]:
  print(a)

나
다
라

In [523]:
#149
리스트 = ["가", "나", "다", "라"]
for a in 리스트[: :2]:
  print(a)

가
다

In [527]:
#150
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

In [559]:
#151
리스트 = [3, -20, -3, 44]
for a in 리스트 :
    print(a) if a < 0 else ""

-20
-3

In [565]:
#152
리스트 = [3, 100, 23, 44]
for a in 리스트:
  print(a) if a % 3 == 0 else ""

3

In [569]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트:
  print(a) if (a < 20) and (a % 3 == 0) else ""

12
18

In [587]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for a in 리스트:
  print(a) if len(a) >= 3 else ""

study
python
language

In [585]:
#155
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
  print(a) if a.isupper() else ""

A
D

In [583]:
#156
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
  print(a) if a.islower() else ""

b
c

In [687]:
#157
리스트 = ['dog', 'cat', 'parrot']
for r in  [a.capitalize() for a in 리스트]:
    print(r)

Dog
Cat
Parrot

In [597]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for b in [a.split(".")[0] for a in 리스트]:
  print(b)

hello
ex01
intro

In [603]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
  b = a.split(".")[1]
  print(a) if b == "h" else ""

intra.h
define.h

In [607]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
  b = a.split(".")[1]
  print(a) if (b == "h" or b == "c") else ""

intra.h
intra.c
define.h