In [12]:
def kk(a="kk"):
    print(a)
kk("rr")    

def add(a,b):
    return a + b

c = add(4,5)
print(c)

rr
9

In [14]:
## 입력값과 리터값에 따른 함수의 형태
def add(a,b):
    result = a+ b
    return result

add(3,4)

7

In [16]:
def say():
    return 'Hi'
say()

'Hi'

In [18]:
def add(a,b):
    print("%d, %d의 합은 %d입니다."% (a,b,a+b))

In [20]:
add(3,4)

3, 4의 합은 7입니다.

In [24]:
c = add(3,4)

3, 4의 합은 7입니다.

In [26]:
print(c)

None

In [48]:
for i in [1,2,3,4]:
    if i == 1 :
        result = i
    else : 
        result += i

print(result)

10

In [44]:
def add_man(*rrr):
    result = 0
    print(rrr)
    for i in rrr :
        result = result + i
    return result

In [46]:
add_man(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [64]:
## quiz
def mul_sum(*args,mul=True):
    if mul :
        re = 1
        for a in args:
            re *= a
    else :
        re = 0
        for a in args:
            re += a
    return re
mul_sum( 1,2,3,4,5,mul=True)

120

In [66]:
def add_and_mul(a,b):
    return a+b, a*b

add_and_mul(3,4)

(7, 12)

In [72]:
def say_nick(nick):
    if nick == "바보" : 
        return '옥상으로 따라와'
    print(f'나의 별명은 {nick}입니다.')

In [76]:
say_nick("바보")

'옥상으로 따라와'

In [78]:
def say_myself(name,age,man=True):
    print(f'나의 이름은 {name} 입니다.')
    print(f'나이는 {age}입니다.')
    if man:
        print("삐빅, 남자입니다.")
    else :
        print("삐빅, 여자입니다.")

In [80]:
say_myself("맹광국",20, False)

나의 이름은 맹광국 입니다.
나이는 20입니다.
삐빅, 여자입니다.

In [108]:

def kkr(kk):
    def vvv(r):
        l = kk + r
        return l
    return vvv(3)

print(kkr(2))

5

In [114]:
f = open('test.txt','w')
f.close()

In [120]:
f = open('test.txt','w')
for i in range(1,10):
    f.write(f'{i} 번째 줄입니다.\n')
f.close()

In [1]:
#readline 함수 이용하기
f = open('test.txt','r')
print(f.readlines())

['1 번째 줄입니다.\n', '2 번째 줄입니다.\n', '3 번째 줄입니다.\n', '4 번째 줄입니다.\n', '5 번째 줄입니다.\n', '6 번째 줄입니다.\n', '7 번째 줄입니다.\n', '8 번째 줄입니다.\n', '9 번째 줄입니다.\n']

In [7]:
f = open("test.txt",'r')
lines = f.readlines()
for line in lines:
    print(line.replace("\n",""),end="")
f.close()

1 번째 줄입니다.2 번째 줄입니다.3 번째 줄입니다.4 번째 줄입니다.5 번째 줄입니다.6 번째 줄입니다.7 번째 줄입니다.8 번째 줄입니다.9 번째 줄입니다.

In [9]:
f = open("test.txt","r")
data = f.read()
print(data)
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.

In [13]:
f = open("test.txt","a")
for i in range(11,21):
    f.write(f'{i} 번째 줄입니다.\n')
f.close()

In [15]:
f = open("foo.txt", 'w')
f.write("Life is too short, you need python")
f.close()

In [17]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")